<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
        <testsuite name="Main class started">
            <file>./tests/MainClassTest.php</file>
        </testsuite>
        <testsuite name="Api configured">
            <file>./tests/ApiConfiguredTest.php</file>
        </testsuite>
        <testsuite name="Gateways loaded">
            <file>./tests/GatewaysClassTest.php</file>
        </testsuite>
        <testsuite name="Functions tested">
            <directory suffix="Test.php">./tests/functions</directory>
        </testsuite>
        <testsuite name="OrderFlow tested">
            <directory suffix="Test.php">./tests/orderFlow</directory>
        </testsuite>
	</testsuites>
</phpunit>
