<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
        <testsuite name="Main class">
            <file>./tests/MainClassTest.php</file>
        </testsuite>
        <testsuite name="Api configured">
            <file>./tests/ApiConfiguredTest.php</file>
        </testsuite>
        <testsuite name="Functions">
            <directory suffix="Test.php">./tests/functions</directory>
        </testsuite>
	</testsuites>
</phpunit>
