<?xml version="1.0"?>
<phpunit
	bootstrap="tests/unit/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
        <testsuite name="Main class started">
            <file>./tests/unit/MainClassTest.php</file>
        </testsuite>
        <testsuite name="Gateways loaded">
            <file>./tests/unit/GatewaysTest.php</file>
        </testsuite>
        <testsuite name="Functions tested">
            <directory suffix="Test.php">./tests/unit/functions</directory>
        </testsuite>
        <testsuite name="OrderFlow tested">
            <directory suffix="Test.php">./tests/unit/orderFlow</directory>
        </testsuite>
	</testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./includes</directory>
        </whitelist>
    </filter>
</phpunit>
