{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 80,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "bracketSameLine": false,
    "experimentalTernaries": true,
    "singleAttributePerLine": true,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": ["clsx"]
}